@charset "UTF-8";
/* GENERALES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto'; }

header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #9C0F48;
  z-index: 5; }
  header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header .nav .logo {
      font-size: 1.4rem;
      color: white;
      margin-left: 2%;
      animation-name: logo-anim;
      animation-delay: 1s;
      animation-duration: 1s; }
    header .nav__responsive {
      display: none;
      color: white;
      font-size: 1.6rem;
      margin-right: 10px; }
    header .nav__ul__li {
      display: inline;
      list-style: none;
      margin: 0 10px; }
      header .nav__ul__li a {
        text-decoration: none;
        color: white;
        text-shadow: 0 1px 1px black; }
    header .nav__ul__li:hover {
      background-color: #470D21; }

@keyframes logo-anim {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

.usuario {
  display: none;
  position: absolute;
  right: -5%;
  background-color: #9C0F48;
  width: 35%;
  list-style-type: none;
  height: 35vh;
  padding: 10px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 81%); }

.usuario__li:hover > ul {
  display: block; }

.usuario li {
  display: block;
  margin: 5px 0;
  float: right;
  width: 90%; }

.usuario__li samp {
  color: white;
  font-size: 1rem; }

.usuario li a {
  font-size: 0.7rem; }

.usuario li a:hover {
  color: #bbbbbb; }

.footer {
  background-color: #470D21;
  color: white;
  padding: 15px;
  display: flex; }
  .footer__info__titulo {
    display: block;
    text-align: center; }
  .footer__info__texto {
    font-size: 0.9rem;
    text-align: center; }
  .footer__redes {
    width: 45%;
    text-align: center; }
    .footer__redes i {
      font-size: 2rem;
      margin: 5px 10px;
      color: white; }

/* INDEX */
.hero {
  width: 100%;
  height: 60vh;
  background: linear-gradient(0deg, #470D21, #9C0F48); }
  .hero__fondo {
    width: 100%;
    height: 60vh;
    position: absolute;
    z-index: 1;
    opacity: 15%; }
    .hero__fondo img {
      width: 100%;
      height: 100%;
      overflow: hidden; }
  .hero__text {
    display: inline-block;
    position: relative;
    top: 20vh;
    left: 10%; }
    .hero__text__titulo {
      font-size: 3rem;
      color: #F9E4D4;
      z-index: 3; }
    .hero__text__lema {
      color: #F9E4D4;
      z-index: 3; }

body {
  width: 100%;
  font-family: sans-serif;
  margin: 0 auto;
  background-color: #F9E4D4; }

main {
  width: 90%;
  min-height: 80vh;
  margin: 8vh auto; }

.recomendados {
  display: flex;
  flex-wrap: wrap; }
  .recomendados .libro {
    display: flex;
    border: solid grey 1px;
    margin: 15px;
    padding: 15px;
    overflow: hidden;
    width: 30%;
    background: linear-gradient(#F9E4D4, #f8c24d8a);
    box-shadow: 0 1px 1px black;
    justify-content: space-around;
    transition: all 1s; }
    .recomendados .libro__imagen {
      max-width: 40%;
      max-height: 200px;
      border: 1px solid black;
      align-self: center; }
    .recomendados .libro__info {
      width: 60%;
      padding: 5px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 10% 1fr 15%; }
      .recomendados .libro__info__nombre {
        font-size: 1.2rem;
        font-weight: bold;
        grid-column: 1/4; }
      .recomendados .libro__info__descripcion {
        margin: 12px 0;
        grid-column: 1/4; }
      .recomendados .libro__info__precio {
        float: right;
        font-weight: bold;
        grid-column: 1/2; }
      .recomendados .libro__info .btn {
        grid-column: 2/4;
        grid-row: 3/4;
        margin: 0 auto;
        border-radius: 10%;
        align-self: center;
        padding: 5px;
        transition: all 1s;
        transition-timing-function: ease-out; }
        .recomendados .libro__info .btn a {
          color: white;
          text-decoration: none; }
      .recomendados .libro__info .btn-darkRed {
        background-color: #d32864;
        display: none;
        opacity: 0%; }
      .recomendados .libro__info .btn-darkRed:hover {
        background-color: #701334; }
      .recomendados .libro__info .btn-darkRed:active {
        background-color: #3b0619; }
  .recomendados .libro:hover {
    transform: scale(1.2);
    box-shadow: 0 3px 1px #5f0707; }
  .recomendados__verMas {
    align-self: flex-end; }

.libro__info:hover > .btn {
  display: block;
  opacity: 100%; }

.seccion2 {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(#D67D3E, #bb6457);
  margin: 20vh 0;
  padding: 10vh 20px; }
  .seccion2__info {
    width: 45%;
    margin: 0 20px; }
    .seccion2__info__lista li {
      margin: 16px 0;
      font-size: 1.1rem; }
    .seccion2__info input {
      float: right;
      font-size: 1.2rem; }
  .seccion2__video {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 40vh; }

.btn-blue {
  background-color: #602dd4;
  display: inline-block; }

.btn-blue:hover {
  background-color: #3d1991; }

.btn-blue:active {
  background-color: #1a0844; }

.comentarios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; }
  .comentarios__titulo {
    grid-column: 1/4;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5vh; }
  .comentarios .tarjeta {
    display: flex;
    border: #9C0F48 solid 1px; }
    .comentarios .tarjeta__foto {
      height: 90%;
      width: 40%;
      margin: auto; }
    .comentarios .tarjeta__info {
      width: 60%;
      padding: 15px; }
      .comentarios .tarjeta__info__nombre {
        font-size: 1.3rem;
        font-weight: bold; }
      .comentarios .tarjeta__info__comentario {
        margin: 12px 0; }

/* PÁGINA NUEVOS */
.nu__main {
  width: 90%;
  margin: 10vh auto;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 10vh 1fr; }
  .nu__main .tituloPagina {
    grid-column: 1/3;
    margin: auto; }
  .nu__main .nav__lateral {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: orange;
    padding: 25px; }
    .nu__main .nav__lateral #buscadorLibro {
      width: 90%;
      height: 30px;
      padding: 4px;
      text-align: center;
      margin: 10px 0; }
    .nu__main .nav__lateral .buscarPorGenero {
      font-size: 1.3rem;
      margin: 15px 0;
      font-weight: bold; }
    .nu__main .nav__lateral .listaGeneros {
      align-self: flex-end;
      text-align: right;
      list-style-type: none; }
      .nu__main .nav__lateral .listaGeneros li a {
        font-weight: bold;
        text-decoration: none;
        color: #470D21; }
      .nu__main .nav__lateral .listaGeneros li a:hover {
        color: #92425e; }
  .nu__main .contenido {
    height: 70vh;
    padding: 5px;
    overflow: hidden;
    overflow-y: scroll; }
    .nu__main .contenido__tabla {
      width: 100%;
      border-left: black solid 1px;
      font-size: 1.2rem;
      padding: 15px; }
      .nu__main .contenido__tabla tr td {
        padding: 15px 0;
        text-align: center; }

/* PÁGINA USADOS */
.nav__lateralUsados {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #470D21;
  padding: 25px; }
  .nav__lateralUsados label {
    display: block;
    margin: 10px 0;
    color: white; }
  .nav__lateralUsados .listaGenerosUsados {
    align-self: flex-end;
    text-align: right;
    list-style-type: none; }
    .nav__lateralUsados .listaGenerosUsados li a {
      font-weight: bold;
      text-decoration: none;
      color: white; }
    .nav__lateralUsados .listaGenerosUsados li a:hover {
      color: #92425e; }
  .nav__lateralUsados #buscadorLibroUsados {
    width: 90%;
    height: 30px;
    padding: 4px;
    text-align: center;
    margin: 10px 0; }
  .nav__lateralUsados .buscarPorGeneroUsados {
    font-size: 1.3rem;
    margin: 15px 0;
    font-weight: bold;
    color: white; }
  .nav__lateralUsados ul {
    text-align: right;
    list-style-type: none; }
    .nav__lateralUsados ul li a {
      font-weight: bold;
      text-decoration: none;
      color: #ffffff; }
    .nav__lateralUsados ul li a:hover {
      color: #c4c4c4; }

.contenido__tabla {
  width: 100%;
  border-left: black solid 1px;
  font-size: 1.2rem;
  padding: 15px; }
  .contenido__tabla tr td {
    padding: 15px 0;
    text-align: center; }
    .contenido__tabla tr td a {
      text-decoration: none;
      color: #470D21;
      font-weight: bold; }
    .contenido__tabla tr td a:hover {
      color: #b65476; }

.tituloPagina {
  text-align: center; }

/*  PÁGINA LIBRO */
.libroCompleto {
  display: flex;
  justify-content: center;
  gap: 7%;
  margin: 15vh auto; }
  .libroCompleto .portadaLibro {
    height: 70vh; }
  .libroCompleto .libro__inf {
    width: 40%;
    padding: 25px; }
    .libroCompleto .libro__inf .libro__titulo {
      font-size: 2.5rem; }
    .libroCompleto .libro__inf .libro__descripcion {
      font-size: 1.4rem;
      margin: 15px 0; }
    .libroCompleto .libro__inf .libro__precio {
      display: block;
      float: left;
      margin: 15px;
      font-size: 2rem;
      font-weight: bold; }
    .libroCompleto .libro__inf .botonComprar {
      float: right;
      background-color: rgba(255, 255, 255, 0.74);
      padding: 10px;
      border: black solid 1px;
      border-radius: 10%;
      font-weight: bold;
      margin: 15px; }

.talvez {
  font-size: 2rem;
  font-weight: bold; }

/* PÁGINA VENDE TU LIBRO */
.formularioVendeLibro {
  width: 60%;
  margin: auto; }
  .formularioVendeLibro legend {
    font-size: 1.6rem;
    text-align: center; }
  .formularioVendeLibro fieldset div {
    margin: 15px 0;
    text-align: center;
    font-size: 1.5rem; }

/* MEDIA QUERIES */
@media screen and (max-width: 1024px) {
  main {
    width: 100%;
    padding: 0; }
  .seccion2__video {
    height: 40vh; }
  .tarjeta__info__comentario {
    font-size: 0.9rem; } }

@media screen and (max-width: 768px) {
  .libro__info__descripcion {
    font-size: 0.8rem; }
  .libro__info__nombre {
    font-size: 0.9rem; }
  .libro {
    width: 45%; }
  .seccion2__info {
    margin: 0 auto;
    width: 90%; }
  .seccion2__video {
    width: 90%;
    margin: 5vh auto; }
  .comentarios {
    grid-template-columns: repeat(2, 1fr); }
  .comentarios__titulo {
    grid-column: 1/3; }
  .nu__main {
    width: 100%; }
  .nav__lateral {
    padding: 10px; }
  .nav__lateralUsados {
    padding: 10px; }
  #buscadorLibro {
    width: 100%; }
  #buscadosLibroUsados {
    width: 100%; }
  .libro__descripcion {
    font-size: 1rem; }
  .libro:hover {
    transform: scale(1.1); } }

@media screen and (max-width: 425px) {
  .seccion2__video {
    width: 100%;
    height: 30vh; }
  nav {
    display: block; }
  .nav__responsive__button {
    float: right;
    margin-right: 5px;
    margin-top: 3px; }
  .nav__ul__responsive__li a {
    font-size: 0.8rem;
    color: white;
    text-decoration: none;
    margin-left: 10px; }
  .nav__responsive {
    display: inline; }
  .usuario {
    right: 0;
    width: 50%;
    height: 45vh;
    background-color: #470D21;
    position: absolute;
    top: 0; }
  .usuario li {
    margin: 3px 5px; }
  .usuario__li samp {
    font-size: 0.8rem;
    margin-left: 10px; }
  .nav__ul__responsive {
    display: none; }
  .nav__ul {
    display: none; }
  .nav__responsive:hover > .nav__ul__responsive {
    display: inline; }
  .nav__ul__li {
    display: block; }
  .hero {
    height: 40vh; }
  .hero__fondo {
    height: 40vh; }
  .hero__titulo {
    font-size: 1.3rem; }
  .hero__lema {
    font-size: 1rem; }
  .libro {
    width: 90%; }
  .seccion2 {
    width: 100%; }
  .seccion2__video {
    width: 100%; }
  main {
    width: 100%;
    padding: 0; }
  .comentarios {
    grid-template-columns: 1fr; }
  .comentarios__titulo {
    grid-column: 1/2; }
  .comentarios__titulo {
    font-size: 1.2rem; }
  .comentarios__info__nombre {
    font-size: 0.9rem; }
  footer {
    flex-direction: column; }
  .footer__redes {
    width: 100%;
    margin: 5vh 0; }
  .nu__main {
    grid-template-columns: 1fr;
    margin: 5vh 0; }
  .tituloPagina {
    grid-column: 1/2; }
  #buscadorLibro {
    width: 70%;
    align-self: center; }
  .contenido {
    margin: 10vh 0; }
  .contenido__tabla {
    border-left: none; }
  .formularioVendeLibro {
    width: 96%; }
  fieldset div label {
    font-size: 0.8rem; }
  .libroCompleto {
    flex-direction: column; }
  .libro__inf {
    width: 100%; }
  .talvez {
    text-align: center;
    font-size: 1.5rem; } }
