@charset "UTF-8";
/* GENERALES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto'; }

header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #3b007e;
  z-index: 8; }
  header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header .nav .logo {
      font-size: 1.4rem;
      color: white;
      margin-left: 2%;
      animation-name: logo-anim;
      animation-delay: 1s;
      animation-duration: 1s; }
    header .nav__responsive {
      display: none;
      color: white;
      font-size: 1.6rem;
      margin-right: 10px;
      text-align: center; }
    header .nav__ul {
      margin-bottom: 0; }
    header .nav__ul__li {
      display: inline;
      list-style: none;
      margin: 0 10px; }
      header .nav__ul__li a {
        text-decoration: none;
        color: white;
        text-shadow: 0 1px 1px black; }
    header .nav__ul__li a:hover {
      color: #b6b6b6; }

@keyframes logo-anim {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

.footer {
  background-color: #24078b;
  color: white;
  padding: 15px;
  display: flex; }
  .footer__info__titulo {
    display: block;
    text-align: center; }
  .footer__info__texto {
    font-size: 0.9rem;
    text-align: center; }
  .footer__redes {
    width: 45%;
    text-align: center; }
    .footer__redes i {
      font-size: 2rem;
      margin: 5px 10px;
      color: white; }

.btn, .btn--comprar, .btn--verUsado, .btn--verNuevo, .btn--vendeLibro {
  margin: 0 auto;
  border-radius: 10%;
  align-self: center;
  padding: 5px;
  text-align: center; }
  .btn a, .btn--comprar a, .btn--verUsado a, .btn--verNuevo a, .btn--vendeLibro a {
    text-decoration: none;
    color: white; }

.btn--comprar {
  background-color: white; }

.btn--comprar:hover {
  background-color: #c9c9c9; }

.btn--comprar:active {
  background-color: #414141; }
  .btn--comprar:active a {
    color: white; }

.btn--verUsado {
  background-color: #cf78e0; }

.btn--verUsado:hover {
  background-color: #eb6a00; }

.btn--verUsado:active {
  background-color: #743a0b; }
  .btn--verUsado:active a {
    color: white; }

.btn--verNuevo {
  background-color: #3b007e; }

.btn--verNuevo:hover {
  background-color: #701334; }

.btn--verNuevo:active {
  background-color: #3b0619; }

.btn--vendeLibro {
  background-color: blue; }

.btn--vendeLibro {
  text-align: center; }
  .btn--vendeLibro a {
    color: white;
    text-decoration: none; }

.btn--vendeLibro:hover {
  background-color: #0832a3; }

.btn--vendeLibro:active {
  background-color: #2e0077; }

.naranja {
  background-color: #cf78e0; }

/* INDEX */
.hero {
  height: 60vh;
  width: 100%;
  background: linear-gradient(0deg, #24078b, #3b007e);
  position: relative; }
  .hero__fondo {
    height: 60vh;
    width: 100%;
    position: absolute;
    z-index: 1;
    opacity: 15%; }
    .hero__fondo img {
      width: 100%;
      height: 100%;
      overflow: hidden; }
  .hero__text {
    display: inline-block;
    position: relative;
    top: 20vh;
    left: 10%; }
    .hero__text__titulo {
      font-size: 3rem;
      color: #F9E4D4;
      z-index: 3; }
    .hero__text__lema {
      color: #F9E4D4;
      z-index: 3; }
  .hero .wave {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 5; }

body {
  width: 100%;
  font-family: sans-serif;
  margin: 0 auto;
  background-color: #f1fcfc; }

main {
  margin: 8vh auto;
  min-height: 75vh; }

section {
  width: 100%;
  overflow-x: hidden; }

.recomendados {
  display: flex;
  flex-wrap: wrap; }
  .recomendados .libro {
    display: flex;
    border: solid grey 1px;
    margin: 15px;
    padding: 15px;
    overflow: hidden;
    width: 30%;
    background-color: #080942;
    box-shadow: 0 1px 1px black;
    justify-content: space-around;
    transition: all 1s; }
    .recomendados .libro__imagen {
      max-width: 40%;
      max-height: 200px;
      border: 1px solid white;
      align-self: center; }
    .recomendados .libro__info {
      width: 60%;
      padding: 5px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 10% 1fr 15%;
      color: white; }
      .recomendados .libro__info__nombre {
        font-size: 1.2rem;
        font-weight: bold;
        grid-column: 1/4; }
      .recomendados .libro__info__descripcion {
        margin: 12px 0;
        grid-column: 1/4; }
      .recomendados .libro__info__precio {
        float: right;
        font-weight: bold;
        grid-column: 1/2; }
      .recomendados .libro__info .btn, .recomendados .libro__info .btn--comprar, .recomendados .libro__info .btn--verUsado, .recomendados .libro__info .btn--verNuevo, .recomendados .libro__info .btn--vendeLibro {
        grid-column: 2/4;
        grid-row: 3/4;
        margin: 0 auto;
        border-radius: 10%;
        align-self: center;
        padding: 5px;
        transition: all 1s;
        transition-timing-function: ease-out; }
        .recomendados .libro__info .btn a, .recomendados .libro__info .btn--comprar a, .recomendados .libro__info .btn--verUsado a, .recomendados .libro__info .btn--verNuevo a, .recomendados .libro__info .btn--vendeLibro a {
          color: white;
          text-decoration: none; }
      .recomendados .libro__info .btn--verNuevo {
        display: none;
        opacity: 0%; }
  .recomendados .libro:hover {
    transform: scale(1.2);
    box-shadow: 0 3px 1px #353434; }
  .recomendados__verMas {
    align-self: flex-end; }

.libro__info:hover > .btn, .libro__info:hover > .btn--comprar, .libro__info:hover > .btn--verUsado, .libro__info:hover > .btn--verNuevo, .libro__info:hover > .btn--vendeLibro {
  display: block;
  opacity: 100%; }

.seccion2 {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(#c898ff, #c181ec);
  margin: 20vh 0;
  padding: 10vh 20px; }
  .seccion2__info {
    width: 45%;
    margin: 0 20px; }
    .seccion2__info__lista li {
      margin: 16px 0;
      font-size: 1.1rem; }
    .seccion2__info input {
      float: right;
      font-size: 1.2rem; }
  .seccion2__video {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 50vh; }

.btn-blue {
  background-color: #602dd4;
  display: inline-block; }

.btn-blue:hover {
  background-color: #3d1991; }

.btn-blue:active {
  background-color: #1a0844; }

.comentarios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; }
  .comentarios__titulo {
    grid-column: 1/4;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5vh; }
  .comentarios .tarjeta {
    display: flex;
    border: #3b007e solid 1px; }
    .comentarios .tarjeta__foto {
      height: 90%;
      width: 40%;
      margin: auto; }
    .comentarios .tarjeta__info {
      width: 60%;
      padding: 15px; }
      .comentarios .tarjeta__info__nombre {
        font-size: 1.3rem;
        font-weight: bold; }
      .comentarios .tarjeta__info__comentario {
        margin: 12px 0; }

/* PÁGINA NUEVOS */
.nu__main {
  width: 90%;
  margin: 10vh auto; }
  .nu__main .tituloPagina {
    margin: auto;
    width: 100%; }
  .nu__main .nav__lateral {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #cf78e0;
    padding: 25px; }
    .nu__main .nav__lateral #buscadorLibro {
      width: 90%;
      height: 30px;
      padding: 4px;
      text-align: center;
      margin: 10px 0; }
    .nu__main .nav__lateral .buscarPorGenero {
      font-size: 1.3rem;
      margin: 15px 0;
      font-weight: bold; }
    .nu__main .nav__lateral .listaGeneros {
      align-self: flex-end;
      text-align: right;
      list-style-type: none; }
      .nu__main .nav__lateral .listaGeneros li a {
        font-weight: bold;
        text-decoration: none;
        color: #470D21; }
      .nu__main .nav__lateral .listaGeneros li a:hover {
        color: #92425e; }
  .nu__main .contenido {
    height: 90vh;
    padding: 5px;
    overflow: hidden;
    overflow-y: scroll; }

/* PÁGINA USADOS */
.nav__lateralUsados {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #24078b;
  padding: 25px; }
  .nav__lateralUsados label {
    display: block;
    margin: 10px 0;
    color: white; }
  .nav__lateralUsados .listaGenerosUsados {
    align-self: flex-end;
    text-align: right;
    list-style-type: none; }
    .nav__lateralUsados .listaGenerosUsados li a {
      font-weight: bold;
      text-decoration: none;
      color: white; }
    .nav__lateralUsados .listaGenerosUsados li a:hover {
      color: #92425e; }
  .nav__lateralUsados #buscadorLibroUsados {
    width: 90%;
    height: 30px;
    padding: 4px;
    text-align: center;
    margin: 10px 0; }
  .nav__lateralUsados .buscarPorGeneroUsados {
    font-size: 1.3rem;
    margin: 15px 0;
    font-weight: bold;
    color: white; }
  .nav__lateralUsados ul {
    text-align: right;
    list-style-type: none; }
    .nav__lateralUsados ul li a {
      font-weight: bold;
      text-decoration: none;
      color: #ffffff; }
    .nav__lateralUsados ul li a:hover {
      color: #c4c4c4; }

.tituloPagina {
  text-align: center; }

/*  PÁGINA LIBRO */
.libroCompleto {
  display: flex;
  justify-content: center;
  gap: 7%;
  margin: 15vh auto; }
  .libroCompleto .portadaLibro {
    height: 70vh; }
  .libroCompleto .libro__inf {
    width: 40%;
    padding: 25px; }
    .libroCompleto .libro__inf .libro__titulo {
      font-size: 2.5rem; }
    .libroCompleto .libro__inf .libro__descripcion {
      font-size: 1.4rem;
      margin: 15px 0; }
    .libroCompleto .libro__inf .libro__precio {
      display: block;
      float: left;
      margin: 15px;
      font-size: 2rem;
      font-weight: bold; }
    .libroCompleto .libro__inf .btn--comprar {
      float: right;
      padding: 10px;
      border: black solid 1px;
      border-radius: 10%;
      font-weight: bold;
      margin: 15px; }
      .libroCompleto .libro__inf .btn--comprar a {
        text-decoration: none; }

.talvez {
  font-size: 2rem;
  font-weight: bold; }

/* PÁGINA VENDE TU LIBRO */
.formularioVendeLibro {
  width: 60%;
  margin: auto; }
  .formularioVendeLibro legend {
    font-size: 1.6rem;
    text-align: center; }
  .formularioVendeLibro fieldset div {
    margin: 15px 0;
    text-align: center;
    font-size: 1.5rem; }

/* MEDIA QUERIES */
@media screen and (max-width: 1024px) {
  main {
    margin: 8vh 0; }
  section {
    width: 100%; }
  .recomendados {
    width: 100%; }
    .recomendados .libro__info__nombre {
      font-size: .9rem; }
    .recomendados .libro__info__descripcion {
      font-size: .8rem; }
  .comentarios .tarjeta__info__nombre {
    font-size: .9rem; }
  .comentarios .tarjeta__info__comentario {
    font-size: .8rem; } }

@media screen and (max-width: 768px) {
  .recomendados {
    justify-content: space-around; }
    .recomendados .libro {
      width: 45%; }
  .seccion2 {
    flex-direction: column;
    align-items: center;
    text-align: center; }
    .seccion2__info {
      width: 80%; }
      .seccion2__info .btn--vendeLibro {
        width: 40%;
        margin: 5vh auto; }
    .seccion2__video {
      width: 80%;
      height: 60vh; }
  .comentarios .tarjeta {
    flex-direction: column;
    align-items: center; }
    .comentarios .tarjeta__foto {
      height: 50%; }
    .comentarios .tarjeta__info {
      padding: 5px;
      width: 100%; }
  .footer {
    flex-direction: column;
    align-items: center; }
    .footer__info__titulo {
      font-size: .9rem; }
    .footer__info__texto {
      font-size: .8rem; }
    .footer__redes {
      margin-top: 5px; }
      .footer__redes__titulo {
        font-size: .9rem; }
      .footer__redes a i {
        font-size: 1.2rem; } }

@media screen and (max-width: 425px) {
  header .nav {
    display: block; }
    header .nav__ul {
      display: none; }
    header .nav__responsive {
      display: inline; }
      header .nav__responsive__ul {
        display: none;
        list-style: none; }
        header .nav__responsive__ul__li a {
          font-size: .9rem;
          color: white;
          text-decoration: none; }
      header .nav__responsive__button {
        float: right;
        position: relative;
        right: 10px; }
    header .nav__responsive:hover > ul {
      display: block; }
  main section .recomendados .libro {
    width: 90%; }
  main section .seccion2 {
    margin: 0;
    padding: 10vh 5px; }
    main section .seccion2__info {
      width: 96%; }
    main section .seccion2__video {
      width: 95%;
      height: 40vh; }
  main section .comentarios {
    display: flex;
    flex-direction: column; }
    main section .comentarios .tarjeta__info {
      text-align: center; }
  main .formularioVendeLibro {
    width: 90%; }
  .footer__redes {
    width: 70%; }
  .nu__main {
    width: 100%; }
    .nu__main .coontenido {
      width: 100% !important;
      padding: 0 !important; } }
