body {
    width: 100%;
    font-family: sans-serif;
    margin: 0 auto;
    background-color: #f1fcfc;
}

main {
    margin: 8vh auto;
    min-height: 75vh;
}

section{
    width: 100%;
    overflow-x: hidden;
}