@import "./variables";

.nu__main{
    width: 90%;
    margin: 10vh auto;
    .tituloPagina {
        margin: auto;
        width: 100%;
    }
    .nav__lateral {

        display: map-get($estilos, display);
        flex-direction: map-get($estilos , flex-direction);
        justify-content: map-get($estilos , justify-content);
        align-items: map-get($estilos , align-items);
        background-color:  map-get($estilos , background-color);
        padding:  map-get($estilos , padding);
        
        #buscadorLibro {
            width: 90%;
            height: 30px;
            padding: 4px;
            text-align: center;
            margin: 10px 0;
        }
        .buscarPorGenero {
            font-size: 1.3rem;
            margin: 15px 0;
            font-weight: bold;
        }
        .listaGeneros {
            align-self: flex-end;
            text-align: right;
            list-style-type: none;
            li{
                a{
                    font-weight: bold;
                    text-decoration: none;
                    color: #470D21;
                }
                a:hover{
                    color: #92425e;
                }
            }
        }
    }
    .contenido {
        height: 70vh;
        padding: 5px;
        width: 80%;
        overflow: hidden;
        overflow-y: scroll;
        
    }

    
}
