.nu__main{
    width: 90%;
    margin: 10vh auto;
    .tituloPagina {
        margin: auto;
    }
    .nav__lateral {
    
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: orange;
        padding: 25px;
        #buscadorLibro {
            width: 90%;
            height: 30px;
            padding: 4px;
            text-align: center;
            margin: 10px 0;
        }
        .buscarPorGenero {
            font-size: 1.3rem;
            margin: 15px 0;
            font-weight: bold;
        }
        .listaGeneros {
            align-self: flex-end;
            text-align: right;
            list-style-type: none;
            li{
                a{
                    font-weight: bold;
                    text-decoration: none;
                    color: #470D21;
                }
                a:hover{
                    color: #92425e;
                }
            }
        }
    }
    .contenido {
        height: 70vh;
        padding: 5px;
        width: 80%;
        overflow: hidden;
        overflow-y: scroll;

    }

    .btn--verNuevo{
        a{
            text-decoration: none;
            color: white;
        }
    }
}
