@import "./variables";

.recomendados {
    display: flex;
    flex-wrap: wrap;
    .libro {
        display: flex;
        border: solid grey 1px;
        margin: 15px;
        padding: 15px;
        overflow:hidden;
        width: 30%;
        //background: linear-gradient(#170549, #0000008a);
        background-color: rgb(8, 9, 66);
        box-shadow: 0 1px 1px black;
        justify-content: space-around;
        transition: all 1s;
        &__imagen {

            max-width: 40%;
            max-height: 200px;
            border: 1px solid white;
            align-self: center;
        }
        &__info {
            width: 60%;
            padding: 5px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 10% 1fr 15%;
            color: white;
            &__nombre {
                font-size: 1.2rem;
                font-weight: bold;
                grid-column: 1/4;
            }
            &__descripcion {
                margin: 12px 0;
                grid-column: 1/4;
            }
            &__precio {
                float: right;
                font-weight: bold;
                grid-column: 1/2;
            }
            .btn{
                grid-column: 2/4;
                grid-row: 3/4;
                margin: 0 auto;
                border-radius: 10%;
                align-self: center;
                padding: 5px;
                transition:all 1s;
                transition-timing-function: ease-out;
                a{
                    color: white;
                    text-decoration: none;
                }
            }
            .btn--verNuevo{
                display: none;
                opacity: 0%;
            }
        }   
    }
    .libro:hover{
        transform: scale(1.2);
        box-shadow: 0 3px 1px rgb(53, 52, 52);
    
    }
    &__verMas {
        align-self: flex-end;
    }
}



.libro__info:hover > .btn{
    display: block;
    opacity: 100%;
}

