
.comentarios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.comentarios__titulo{
    grid-column: 1/4;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5vh;
}

.tarjeta {
    display: flex;
    border: #470D21 solid 1px;
}

.tarjeta__foto {
    height: 90%;
    width: 40%;
    margin: auto;
}

.tarjeta__info {
    width: 60%;
    padding: 15px;
}

.tarjeta__info__nombre {
    font-size: 1.3rem;
    font-weight: bold;
}

.tarjeta__info__comentario {
    margin: 12px 0;
}