
.seccion2 {
    display: flex;
    flex-wrap: wrap;
    background:linear-gradient(#D67D3E, #bb6457) ;
    margin: 20vh 0;
    padding: 10vh 20px;
}

.seccion2__info {
    
    width: 45%;
    margin: 0 20px;


}

.seccion2__info__lista li{
    margin: 16px 0;
    font-size: 1.1rem;
}

.seccion2__info input{
    float: right;
    font-size: 1.2rem;
}

.seccion2__video {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 40vh;
}    

.btn-blue{
    background-color: rgb(96, 45, 212);
    display: inline-block;
}

.btn-blue:hover {
    background-color: rgb(61, 25, 145);
}

.btn-blue:active {
    background-color: rgb(26, 8, 68);
}
