
.seccion2 {
    display: flex;
    flex-wrap: wrap;
    background:linear-gradient(#c898ff, #c181ec) ;
    margin: 20vh 0;
    padding: 10vh 20px;
    &__info {
    
        width: 45%;
        margin: 0 20px;
        &__lista{
            li{
                margin: 16px 0;
                font-size: 1.1rem;
            }
        }
        input{
            float: right;
            font-size: 1.2rem;
        }
    }
    &__video {
        display: inline-block;
        position: relative;
        width: 50%;
        height: 50vh;
    }
}
  

.btn-blue{
    background-color: rgb(96, 45, 212);
    display: inline-block;
}


.btn-blue:hover {
    background-color: rgb(61, 25, 145);
}

.btn-blue:active {
    background-color: rgb(26, 8, 68);
}
