@import "./variables";

.nav__lateralUsados {
    
    display: map-get($estilos, display);
        flex-direction: map-get($estilos , flex-direction);
        justify-content: map-get($estilos , justify-content);
        align-items: map-get($estilos , align-items);
        background-color:  $color-secundario;
        padding:  map-get($estilos , padding);
    label{
        display: block;
        margin: 10px 0;
        color: white;
    }
    .listaGenerosUsados {
        align-self: flex-end;
        text-align: right;
        list-style-type: none;
        li{
            a{
                font-weight: bold;
                text-decoration: none;
                color: white;
            }
            a:hover{
                color: #92425e;
            }
        }
    }
    #buscadorLibroUsados {
        width: 90%;
        height: 30px;
        padding: 4px;
        text-align: center;
        margin: 10px 0;
    }
    .buscarPorGeneroUsados {
        font-size: 1.3rem;
        margin: 15px 0;
        font-weight: bold;
        color: white;
    }
    ul{
        text-align: right;
        list-style-type: none;
        li{
            a{
                font-weight: bold;
                text-decoration: none;
                color: #ffffff;
            }
            a:hover{
                color: #c4c4c4;
            }
        }
    }
}



.tituloPagina {
    text-align: center;
}

