
.nav__lateralUsados {
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #470D21;
    padding: 25px;
    label{
        display: block;
        margin: 10px 0;
        color: white;
    }
    .listaGenerosUsados {
        align-self: flex-end;
        text-align: right;
        list-style-type: none;
        li{
            a{
                font-weight: bold;
                text-decoration: none;
                color: white;
            }
            a:hover{
                color: #92425e;
            }
        }
    }
    #buscadorLibroUsados {
        width: 90%;
        height: 30px;
        padding: 4px;
        text-align: center;
        margin: 10px 0;
    }
    .buscarPorGeneroUsados {
        font-size: 1.3rem;
        margin: 15px 0;
        font-weight: bold;
        color: white;
    }
    ul{
        text-align: right;
        list-style-type: none;
        li{
            a{
                font-weight: bold;
                text-decoration: none;
                color: #ffffff;
            }
            a:hover{
                color: #c4c4c4;
            }
        }
    }
}



.tituloPagina {
    text-align: center;
}

