.usuario {
    display: none;
    position: absolute;
    right: -5%;
    background-color: #9C0F48;
    width: 35%;
    list-style-type: none;
    height: 35vh;
    padding: 10px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 81%);

}

.usuario__li:hover > ul{
    display: block;

}

.usuario li{
    display: block;
    margin: 5px 0;
    float: right;
    width: 90%;
   
}

.usuario__li samp{
    color: white;
    font-size: 1rem;
}

.usuario li a{
    font-size: 0.7rem;
}

.usuario li a:hover{
    color: rgb(187, 187, 187);
}