$color-primario: #3b007e;
$color-secundario:#24078b;
$color-terciario: rgb(207, 120, 224);

$estilos:(
    display: flex,
    flex-direction: column,
    justify-content: flex-start,
    align-items: flex-start,
    background-color: $color-terciario,
    padding: 25px,
);

@mixin sizes ($width, $height){
    height: $height;
    width: $width;
}