<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libros</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a4c8c885b1.js" crossorigin="anonymous"></script>
</head>
<body>
    <!--HEADER-->
    <header>
        <nav>
            <samp class="logo">LOGO</samp>
            <div class="nav__responsive">
                <i class="fas fa-bars nav__responsive__button"></i>
                <ul class="nav__ul__responsive">
                    <li class="nav__ul__responsive__li"><a href="../index.html">INICIO</a></li>
                    <li class="nav__ul__responsive__li"><a href="./nuevos.html">NUEVOS</a></li>
                    <li class="nav__ul__responsive__li"><a href="">USADOS</a></li>
                    <li class="nav__ul__responsive__li"><a href="./vendeTuLibro.html">VENDE TU LIBRO</a></li>
                    <li class="nav__ul__responsive__li usuario__li"><samp>USUARIO</samp> 
                        <ul class="usuario">
                            <li><input type="text" name="" id=""  placeholder="Nombre de Usuario"></li>
                            <li><input type="password" name="" id="" placeholder="Contraseña"></li>
                            <li><input type="button" value="Conectarse"></li>
                            <li><a href="">Olvidaste tu contraseña?</a></li>
                            <li><input type="button" value="Registrarse"></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <ul class="nav__ul">
                <li class="nav__ul__li"><a href="../index.html">INICIO</a></li>
                <li class="nav__ul__li"><a href="./nuevos.html">NUEVOS</a></li>
                <li class="nav__ul__li"><a href="">USADOS</a></li>
                <li class="nav__ul__li"><a href="./vendeTuLibro.html">VENDE TU LIBRO</a></li>
                <li class="nav__ul__li usuario__li"><samp>USUARIO</samp> 
                    <ul class="usuario">
                        <li><input type="text" name="" id=""  placeholder="Nombre de Usuario"></li>
                        <li><input type="password" name="" id="" placeholder="Contraseña"></li>
                        <li><input type="button" value="Conectarse"></li>
                        <li><a href="">Olvidaste tu contraseña?</a></li>
                        <li><input type="button" value="Registrarse"></li>
                    </ul>
                </li>
            </ul>
        </nav>
        
    </header>
    <!--MAIN CONTENT-->
    <main class="nu__main">
        <h1 class="tituloPagina">LIBROS USADOS</h1>
        <nav class="nav__lateralUsados">
            <label for="buscadorLibroUsados">Buscar libro</label>
            <input type="text" id="buscadorLibroUsados" value="Nombre o autor...">
            <p class="buscarPorGeneroUsados">Filtrar por género</p>
            <ul class="listaGenerosUsados">
                <li><a href="">Aventuras</a></li>
                <li><a href="">Ciencia Ficción</a></li>
                <li><a href="">Policíaca</a></li>
                <li><a href="">Terror y misterio</a></li>
                <li><a href="">Romántica</a></li>
                <li><a href="">Mitología</a></li>
                <li><a href="">Teatro</a></li>
                <li><a href="">Cuento</a></li>
            </ul>
        </nav>

        <section class="contenido">
            
            <table class="contenido__tabla">
                <tr>
                    <th>Nombre del Libro</th>
                    <th>Autor del libro</th>
                    <th>Precio</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
                <tr>
                    <td>Libro 1</td>
                    <td>Autor 1</td>
                    <td>$ 460</td>
                    <td>Como nuevo</td>
                    <td><a href="libro.html">Ver libro</a></td>
                </tr>
                <tr>
                    <td>Libro 2</td>
                    <td>Autor 2</td>
                    <td>$ 350</td>
                    <td>Buen estado</td>
                    <td><a href="libro.html">Ver libro</a></td>
                </tr>
                <tr>
                    <td>Libro 3</td>
                    <td>Autor 3</td>
                    <td>$ 190</td>
                    <td>Buen estado</td>
                    <td><a href="libro.html">Ver libro</a></td>
                </tr>
                <tr>
                    <td>Libro 4</td>
                    <td>Autor 4</td>
                    <td>$ 260</td>
                    <td>Como nuevo</td>
                    <td><a href="libro.html">Ver libro</a></td>
                </tr>
                <tr>
                    <td>Libro 5</td>
                    <td>Autor 5</td>
                    <td>$ 960</td>
                    <td>Como nuevo</td>
                    <td><a href="libro.html">Ver libro</a></td>
                </tr>
                <tr>
                    <td>Libro 6</td>
                    <td>Autor 6</td>
                    <td>$ 560</td>
                    <td>Como nuevo</td>
                    <td><a href="libro.html">Ver libro</a></td>
                </tr>
                <tr>
                    <td>Libro 7</td>
                    <td>Autor 7</td>
                    <td>$$$</td>
                    <td>Como nuevo</td>
                    <td><a href="libro.html">Ver libro</a></td>
                </tr>
                <tr>
                    <td>Libro 8</td>
                    <td>Autor 8</td>
                    <td>$$$</td>
                    <td>Como nuevo</td>
                    <td><a href="libro.html">Ver libro</a></td>
                </tr>
                <tr>
                    <td>Libro 9</td>
                    <td>Autor 9</td>
                    <td>$$$</td>
                    <td>Como nuevo</td>
                    <td><a href="libro.html">Ver libro</a></td>
                </tr>
                <tr>
                    <td>Libro 10</td>
                    <td>Autor 10</td>
                    <td>$$$</td>
                    <td>Como nuevo</td>
                    <td><a href="libro.html">Ver libro</a></td>
                </tr>
                <tr>
                    <td>Libro 11</td>
                    <td>Autor 11</td>
                    <td>$$$</td>
                    <td>Como nuevo</td>
                    <td><a href="libro.html">Ver libro</a></td>
                </tr>
                <tr>
                    <td>Libro 12</td>
                    <td>Autor 12</td>
                    <td>$$$</td>
                    <td>Como nuevo</td>
                    <td><a href="libro.html">Ver libro</a></td>
                </tr>
                <tr>
                    <td>Libro 13</td>
                    <td>Autor 13</td>
                    <td>$$$</td>
                    <td>Como nuevo</td>
                    <td><a href="libro.html">Ver libro</a></td>
                </tr>
                <tr>
                    <td>Libro 14</td>
                    <td>Autor 14</td>
                    <td>$$$</td>
                    <td>Como nuevo</td>
                    <td><a href="libro.html">Ver libro</a></td>
                </tr>
                <tr>
                    <td>Libro 15</td>
                    <td>Autor 15</td>
                    <td>$$$</td>
                    <td>Como nuevo</td>
                    <td><a href="libro.html">Ver libro</a></td>
                </tr>
                <tr>
                    <td>Libro 16</td>
                    <td>Autor 16</td>
                    <td>$$$</td>
                    <td>Como nuevo</td>
                    <td><a href="libro.html">Ver libro</a></td>
                </tr>
                <tr>
                    <td>Libro 17</td>
                    <td>Autor 17</td>
                    <td>$$$</td>
                    <td>Como nuevo</td>
                    <td><a href="libro.html">Ver libro</a></td>
                </tr>
                <tr>
                    <td>Libro 18</td>
                    <td>Autor 18</td>
                    <td>$$$</td>
                    <td>Como nuevo</td>
                    <td><a href="libro.html">Ver libro</a></td>
                </tr>
                <tr>
                    <td>Libro 19</td>
                    <td>Autor 19</td>
                    <td>$$$</td>
                    <td>Como nuevo</td>
                    <td><a href="libro.html">Ver libro</a></td>
                </tr>
                <tr>
                    <td>Libro 20</td>
                    <td>Autor 20</td>
                    <td>$$$</td>
                    <td>Como nuevo</td>
                    <td><a href="libro.html">Ver libro</a></td>
                </tr>
            </table>
        </section>
    </main>
     <!--FOOTER-->
     <footer>
        <div class="footer__info">
            <span class="footer__info__titulo">INFORMACIÓN</span>
            <p class="footer__info__texto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit iste voluptatum sunt minima at, neque fuga recusandae vitae facilis quia magnam eaque beatae!</p>
        </div>
        <div class="footer__redes">
            <span class="footer__redes__titulo">NUESTRAS REDES </span>
            <a href=""><i class="fab fa-facebook-square"></i></a>
            <a href=""><i class="fab fa-instagram-square"></i></a>
            <a href=""><i class="fab fa-twitter-square"></i></a>
        </div>
    </footer>
</body>
</html>