<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a4c8c885b1.js" crossorigin="anonymous"></script>
    <title>Libros usados</title>
    <meta name="keywords" content="LIBROS, LIBRERÍA, LECTURA, VENDE, COMPRA">
    <meta name="description" content="Usado pero igual de útil, encuentra el libro que buscas y te lo envíamos a tu casa">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>
    <!--HEADER-->
    <header class="container-fluid">
        <nav class="nav w-100">
            <samp class="logo">LOGO</samp>
            <div class="nav__responsive">
                <i class="fas fa-bars nav__responsive__button"></i>
                <ul class="nav__responsive__ul">
                    <li class="nav__responsive__ul__li"><a href="../index.html">INICIO</a></li>
                    <li class="nav__responsive__ul__li"><a href="./nuevos.html">NUEVOS</a></li>
                    <li class="nav__responsive__ul__li"><a href="">USADOS</a></li>
                    <li class="nav__responsive__ul__li"><a href="./vendeTuLibro.html">VENDE TU LIBRO</a></li>
                </ul>
            </div>
            <ul class="nav__ul">
                <li class="nav__ul__li"><a href="../index.html">INICIO</a></li>
                <li class="nav__ul__li"><a href="./nuevos.html">NUEVOS</a></li>
                <li class="nav__ul__li"><a href="">USADOS</a></li>
                <li class="nav__ul__li"><a href="./vendeTuLibro.html">VENDE TU LIBRO</a></li>
            </ul>
        </nav>

    </header>
    <!--MAIN CONTENT-->
    <main class="nu__main row">
        <h1 class="tituloPagina col-12">LIBROS USADOS</h1>
        
        <nav class="nav__lateralUsados col-sm-2">
            <label for="buscadorLibroUsados">Buscar libro</label>
            <input type="text" id="buscadorLibroUsados" value="Nombre o autor...">
            <p class="buscarPorGeneroUsados">Filtrar por género</p>
            <ul class="listaGenerosUsados">
                <li><a href="">Aventuras</a></li>
                <li><a href="">Ciencia Ficción</a></li>
                <li><a href="">Policíaca</a></li>
                <li><a href="">Terror y misterio</a></li>
                <li><a href="">Romántica</a></li>
                <li><a href="">Mitología</a></li>
                <li><a href="">Teatro</a></li>
                <li><a href="">Cuento</a></li>
            </ul>
        </nav>

        <section class="contenido col-sm-8">
            <div class="row  justify-content-around">
                 <div class="col-2">Nombre del Libro</div>
                 <div class="col-2">Autor del libro</div>
                 <div class="col-2">Precio</div>
                 <div class="col-2"></div>

            </div>
            <div class="row align-items-center justify-content-around mt-1">
                <div class="col-2"><img src="../sources/portadaLibro.jpg" width="80%" alt=""></div>
                <div class="col-2">Libro 1</div>
                <div class="col-2">Autor 1</div>
                <div class="col-2">$ 460</div>
                <div class="col-2"><div class="btn--verNuevo naranja"><a class="enlaceVerNuevo" href="./libro.html">Ver libro</a></div></div>

            </div>
            <div class="row align-items-center justify-content-around mt-1">
                <div class="col-2"><img src="../sources/portadaLibro.jpg" width="80%" alt=""></div>
                <div class="col-2">Libro 2</div>
                <div class="col-2">Autor 2</div>
                <div class="col-2">$ 350</div>
                <div class="col-2"><div class="btn--verNuevo naranja"><a class="enlaceVerNuevo" href="./libro.html">Ver libro</a></div></div>

            </div>
            <div class="row  align-items-center justify-content-around mt-1">
                <div class="col-2"><img src="../sources/portadaLibro.jpg" width="80%" alt=""></div>
                <div class="col-2">Libro 3</div>
                <div class="col-2">Autor 3</div>
                <div class="col-2">$ 190</div>
                <div class="col-2"><div class="btn--verNuevo naranja"><a class="enlaceVerNuevo" href="./libro.html">Ver libro</a></div></div>

            </div>
            <div class="row  align-items-center justify-content-around mt-1">
                <div class="col-2"><img src="../sources/portadaLibro.jpg" width="80%" alt=""></div>
                <div class="col-2">Libro 4</div>
                <div class="col-2">Autor 4</div>
                <div class="col-2">$ 260</div>
                <div class="col-2"><div class="btn--verNuevo naranja"><a class="enlaceVerNuevo" href="./libro.html">Ver libro</a></div></div>

            </div>
            <div class="row  align-items-center justify-content-around mt-1">
                <div class="col-2"><img src="../sources/portadaLibro.jpg" width="80%" alt=""></div>
                <div class="col-2">Libro 5</div>
                <div class="col-2">Autor 5</div>
                <div class="col-2">$ 960</div>
                <div class="col-2"><div class="btn--verNuevo naranja"><a class="enlaceVerNuevo" href="./libro.html">Ver libro</a></div></div>

            </div>
            <div class="row  align-items-center justify-content-around mt-1">
                <div class="col-2"><img src="../sources/portadaLibro.jpg" width="80%" alt=""></div>
                <div class="col-2">Libro 6</div>
                <div class="col-2">Autor 6</div>
                <div class="col-2">$ 560</div>
                <div class="col-2"><div class="btn--verNuevo naranja"><a class="enlaceVerNuevo" href="./libro.html">Ver libro</a></div></div>

            </div>
            <div class="row  align-items-center justify-content-around mt-1">
                <div class="col-2"><img src="../sources/portadaLibro.jpg" width="80%" alt=""></div>
                <div class="col-2">Libro 7</div>
                <div class="col-2">Autor 7</div>
                <div class="col-2">$$$</div>
                <div class="col-2"><div class="btn--verNuevo naranja"><a class="enlaceVerNuevo" href="./libro.html">Ver libro</a></div></div>

            </div>
            <div class="row  align-items-center justify-content-around mt-1">
                <div class="col-2"><img src="../sources/portadaLibro.jpg" width="80%" alt=""></div>
                <div class="col-2">Libro 8</div>
                <div class="col-2">Autor 8</div>
                <div class="col-2">$$$</div>
                <div class="col-2"><div class="btn--verNuevo naranja"><a class="enlaceVerNuevo" href="./libro.html">Ver libro</a></div></div>

            </div>
            <div class="row  align-items-center justify-content-around mt-1">
                <div class="col-2"><img src="../sources/portadaLibro.jpg" width="80%" alt=""></div>
                <div class="col-2">Libro 9</div>
                <div class="col-2">Autor 9</div>
                <div class="col-2">$$$</div>
                <div class="col-2"><div class="btn--verNuevo naranja"><a class="enlaceVerNuevo" href="./libro.html">Ver libro</a></div></div>

            </div>
            <div class="row  align-items-center justify-content-around mt-1">
                <div class="col-2"><img src="../sources/portadaLibro.jpg" width="80%" alt=""></div>
                <div class="col-2">Libro 10</div>
                <div class="col-2">Autor 10</div>
                <div class="col-2">$$$</div>
                <div class="col-2"><div class="btn--verNuevo naranja"><a class="enlaceVerNuevo" href="./libro.html">Ver libro</a></div></div>

            </div>
            <div class="row  align-items-center justify-content-around mt-1">
                <div class="col-2"><img src="../sources/portadaLibro.jpg" width="80%" alt=""></div>
                <div class="col-2">Libro 11</div>
                <div class="col-2">Autor 11</div>
                <div class="col-2">$$$</div>
                <div class="col-2"><div class="btn--verNuevo naranja"><a class="enlaceVerNuevo" href="./libro.html">Ver libro</a></div></div>

            </div>
            <div class="row  align-items-center justify-content-around mt-1">
                <div class="col-2"><img src="../sources/portadaLibro.jpg" width="80%" alt=""></div>
                <div class="col-2">Libro 12</div>
                <div class="col-2">Autor 12</div>
                <div class="col-2">$$$</div>
                <div class="col-2"><div class="btn--verNuevo naranja"><a class="enlaceVerNuevo" href="./libro.html">Ver libro</a></div></div>

            </div>
            <div class="row  align-items-center justify-content-around mt-1">
                <div class="col-2"><img src="../sources/portadaLibro.jpg" width="80%" alt=""></div>
                <div class="col-2">Libro 13</div>
                <div class="col-2">Autor 13</div>
                <div class="col-2">$$$</div>
                <div class="col-2"><div class="btn--verNuevo naranja"><a class="enlaceVerNuevo" href="./libro.html">Ver libro</a></div></div>

            </div>
            <div class="row  align-items-center justify-content-around mt-1">
                <div class="col-2"><img src="../sources/portadaLibro.jpg" width="80%" alt=""></div>
                <div class="col-2">Libro 14</div>
                <div class="col-2">Autor 14</div>
                <div class="col-2">$$$</div>
                <div class="col-2"><div class="btn--verNuevo naranja"><a class="enlaceVerNuevo" href="./libro.html">Ver libro</a></div></div>

            </div>
            <div class="row  align-items-center justify-content-around mt-1">
                <div class="col-2"><img src="../sources/portadaLibro.jpg" width="80%" alt=""></div>
                <div class="col-2">Libro 15</div>
                <div class="col-2">Autor 15</div>
                <div class="col-2">$$$</div>
                <div class="col-2"><div class="btn--verNuevo naranja"><a class="enlaceVerNuevo" href="./libro.html">Ver libro</a></div></div>

            </div>
            <div class="row  align-items-center justify-content-around mt-1">
                <div class="col-2"><img src="../sources/portadaLibro.jpg" width="80%" alt=""></div>
                <div class="col-2">Libro 16</div>
                <div class="col-2">Autor 16</div>
                <div class="col-2">$$$</div>
                <div class="col-2"><div class="btn--verNuevo naranja"><a class="enlaceVerNuevo" href="./libro.html">Ver libro</a></div></div>

            </div>
            <div class="row  align-items-center justify-content-around mt-1">
                <div class="col-2"><img src="../sources/portadaLibro.jpg" width="80%" alt=""></div>
                <div class="col-2">Libro 17</div>
                <div class="col-2">Autor 17</div>
                <div class="col-2">$$$</div>
                <div class="col-2"><div class="btn--verNuevo naranja"><a class="enlaceVerNuevo" href="./libro.html">Ver libro</a></div></div>

            </div>
            <div class="row  align-items-center justify-content-around mt-1">
                <div class="col-2"><img src="../sources/portadaLibro.jpg" width="80%" alt=""></div>
                <div class="col-2">Libro 18</div>
                <div class="col-2">Autor 18</div>
                <div class="col-2">$$$</div>
                <div class="col-2"><div class="btn--verNuevo naranja"><a class="enlaceVerNuevo" href="./libro.html">Ver libro</a></div></div>

            </div>
            <div class="row  align-items-center justify-content-around mt-1">
                <div class="col-2"><img src="../sources/portadaLibro.jpg" width="80%" alt=""></div>
                <div class="col-2">Libro 19</div>
                <div class="col-2">Autor 19</div>
                <div class="col-2">$$$</div>
                <div class="col-2"><div class="btn--verNuevo naranja"><a class="enlaceVerNuevo" href="./libro.html">Ver libro</a></div></div>

            </div>
            <div class="row  align-items-center justify-content-around mt-1">
                <div class="col-2"><img src="../sources/portadaLibro.jpg" width="80%" alt=""></div>
                <div class="col-2">Libro 20</div>
                <div class="col-2">Autor 20</div>
                <div class="col-2">$$$</div>
                <div class="col-2"><div class="btn--verNuevo naranja"><a class="enlaceVerNuevo" href="./libro.html">Ver libro</a></div></div>

            </div>
    </section>
    </main>
     <!--FOOTER-->
     <footer class="footer">
        <div class="footer__info">
            <span class="footer__info__titulo">INFORMACIÓN</span>
            <p class="footer__info__texto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit iste voluptatum sunt minima at, neque fuga recusandae vitae facilis quia magnam eaque beatae!</p>
        </div>
        <div class="footer__redes">
            <span class="footer__redes__titulo">NUESTRAS REDES </span>
            <a href=""><i class="fab fa-facebook-square"></i></a>
            <a href=""><i class="fab fa-instagram-square"></i></a>
            <a href=""><i class="fab fa-twitter-square"></i></a>
        </div>
    </footer>
</body>
</html>